.bingo-card {
  background: rgb(74, 73, 73);
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.bingo-card-admin {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.card-title {
  text-align: left;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.bingo-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
  margin-bottom: 2px;
}

.header-cell {
  background: #e94560;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 3px;
  width: 100%;
  height: 200%;

}

.bingo-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
}

.bingo-cell {
  background: #363333;
  padding: 0;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 25px;
  color: #ffffff;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.bingo-card-admin .header-cell {
  font-size: 50px;
  aspect-ratio: 3;
}

.bingo-card-admin .bingo-cell {
  font-size: 50px;
  aspect-ratio: 1;
}

/* Estilos para vista horizontal en admin */
.bingo-grid-horizontal {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  flex: 1;
  justify-content: space-evenly;
}

.bingo-row-horizontal {
  display: flex;
  gap: 4px;
  align-items: center;
}

.header-cell-horizontal {
  background: #e94560;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  min-width: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  
}

.bingo-cell-horizontal {
  background: #363333;
  padding: 10px;
  border-radius: 100px;
  text-align: center;
  font-size: 40px;
  color: #ffffff;
  min-width: 50px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition: background-color 0.2s;
  flex-shrink: 0;
  border-radius: 100%;
}

.bingo-cell-horizontal.matched {
  background: #4CAF50;
  color: white;
  font-weight: bold;
}

.bingo-cell.matched {
  background: #4CAF50;
  color: white;
}

.bingo-button {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bingo-button:hover {
  background-color: #d32f2f;
}

@media (max-width: 768px) {
  .bingo-card {
    max-width: 100%;
    padding: 0rem;
  }

  .bingo-header .header-cell {
    padding: 0.25rem;
    font-size: 1rem;
  }
}

.bingo-letters {
  display: flex;
  flex-direction: column;
  background: #333;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  left: 20px;
  top: 100px;
}

.bingo-letter {
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 4px;
  text-align: center;
} 