.bingo-card {
  background: white;
  border-radius: 4px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
}

.card-title {
  text-align: left;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.bingo-header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
  margin-bottom: 2px;
}

.header-cell {
  background: #333;
  color: white;
  padding: 8px 0;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  width: 100%;
}

.bingo-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
}

.bingo-cell {
  background: #f5f5f5;
  padding: 0;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s;
  font-size: 25px;
  color: #333;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bingo-card-admin .header-cell {
  font-size: 80px;
}

.bingo-card-admin .bingo-cell {
  font-size: 100px;
}

.bingo-cell.matched {
  background: #4CAF50;
  color: white;
}

.bingo-button {
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.bingo-button:hover {
  background-color: #d32f2f;
}

@media (max-width: 768px) {
  .bingo-card {
    max-width: 100%;
    padding: 0rem;
  }

  .bingo-header .header-cell {
    padding: 0.25rem;
    font-size: 1rem;
  }
}

.bingo-letters {
  display: flex;
  flex-direction: column;
  background: #333;
  padding: 8px;
  border-radius: 4px;
  position: absolute;
  left: 20px;
  top: 100px;
}

.bingo-letter {
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 4px;
  text-align: center;
} 